In [4]:
import pandas as pd

In [5]:
fake_df = pd.read_csv('Fake.csv')
true_df = pd.read_csv('True.csv')

In [6]:
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [7]:
true_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [8]:
fake_df.shape

(23481, 4)

In [9]:
true_df.shape

(21417, 4)

In [10]:
fake_df.drop(columns=['title','subject', 'date'], inplace=True)
true_df.drop(columns=['title','subject', 'date'], inplace=True)

In [11]:
fake_df.columns

Index(['text'], dtype='object')

In [12]:
true_df.columns

Index(['text'], dtype='object')

In [13]:
fake_df.isna().sum()

text    0
dtype: int64

In [14]:
true_df.isna().sum()

text    0
dtype: int64

In [15]:
fake_df['label'] = 1
true_df['label'] = 0

In [16]:
true_df.head()

                                                text  label
0  WASHINGTON (Reuters) - The head of a conservat...      0
1  WASHINGTON (Reuters) - Transgender people will...      0
2  WASHINGTON (Reuters) - The special counsel inv...      0
3  WASHINGTON (Reuters) - Trump campaign adviser ...      0
4  SEATTLE/WASHINGTON (Reuters) - President Donal...      0

In [17]:
fake_df.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      1
1  House Intelligence Committee Chairman Devin Nu...      1
2  On Friday, it was revealed that former Milwauk...      1
3  On Christmas day, Donald Trump announced that ...      1
4  Pope Francis used his annual Christmas Day mes...      1

In [18]:
fake_df = fake_df.iloc[:5000]
true_df = true_df.iloc[:5000]

In [19]:
fake_df.shape

(5000, 2)

In [20]:
true_df.shape

(5000, 2)

In [21]:
df = pd.concat([fake_df, true_df], axis=0)

In [22]:
df.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      1
1  House Intelligence Committee Chairman Devin Nu...      1
2  On Friday, it was revealed that former Milwauk...      1
3  On Christmas day, Donald Trump announced that ...      1
4  Pope Francis used his annual Christmas Day mes...      1

In [23]:
df.shape

(10000, 2)

Text Preprocessing

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [ ]:
def lemmatization(text):
    doc = nlp(text)
    lemmaList = [word.lemma_ for word in doc]
    return ' '.join(lemmaList)

In [ ]:
df['lemma'] = df['text'].apply(lemmatization)

In [ ]:
df.head()

In [ ]:
def remove_stopwords(text):
    doc = nlp(text)
    no_stopwords = [word.text for word in doc if not word.is_stop and not word.is_punct]
    return ' '.join(no_stopwords)

In [ ]:
df['final'] = df['lemma'].apply(remove_stopowords)

In [ ]:
df.head()

In [ ]:
X = df['final']
y = df['label']

In [ ]:
X.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

classifier = Pipeline([
    ('vectorization_tfidf', TfidfVectorizer()),
    ('Random Forest', RandomForestClassifier(n_jobs = 1, random_state = 42))
])

classifier.fit(X_train, y_train)

In [ ]:
classifier.score(X_test, y_test)

In [ ]:
pred = classifier.predict(X_test)

In [ ]:
pred[:5]

In [ ]:
y_test[:5]

In [ ]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
print({accuracy_score(y_test, pred)*100})

In [ ]:
print(classification_report(y_test, pred))

In [ ]:
import seaborn as sns
cf = confusion_matrix(y_test, pred,normalize = True)
sns.heatmap(cf, annot=True)

sns.heatmap(cf, annot=True, cmap='crest')
plt.xlabel('Predicted')
plt.ylabel('Actual')

plt.title('Confusion Matrix for Sentiment Analysis');